root {
    display: block;
}

html{
	overflow: -moz-scrollbars-vertical;
}

body {
    font-family:Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    font-size: 76%;
    color: #000000;
    background-color:#f1f1f1;
}

-moz-any-link:focus {
  border: none;
}

#addinfo, #top_tip{
   margin: 2px 5px;
   min-height: 20px;
   width: max-content;
   padding: 2px;
   text-align: center;
}

#addinfo{
   border: none;
}

#avid_header{
   padding:0px;
   text-align: center;
   margin: 5px;
   height: 142px;
   vertical-align: middle;
   border-bottom:1px gray solid;
   background-image: url("../images/bannerbiotech.jpg");
}

#footer_links{
   text-align:center;
   margin: 10px;
}

#home, #whoisme, #lower_panel{
   width: 920px;
}
#repository{
   width: 920px;
   margin: 3px auto;
   border: 1px solid gray;
}

#footer{
   height: 30px;
   border: 1px solid gray;
   width: 850px;
   font-size:.8em;
   font-weight: bold;
   text-align: right;
   padding: 4px 15px 0px 2px;
   vertical-align:middle;
   background-color: #804051;
   margin: 2px;
}

#avid_footer{
   height: auto;
   border: 1px solid gray;
   font-size: 1em;
   text-align: right;
   padding: 5px;
   margin: 4px;
   vertical-align:middle;
   background-color: #804051;
}

#mainField label, #transfer label{
   padding-top: 5px;
   height: 30px;
   margin-left: 20px;
}

#generate #general, #generate #sequence, #generate #info{
   float: left;
   margin: 2px 4px;
   height: 250px;
}

#generate #general{
   width: 350px;
}

#generate #sequence{
   width: 200px;
   border-left: 1px dotted #d3d3d3;
   padding-left: 5px;
}

#generate #info{
   width: 330px;
   float: none;
   margin-left: 580px;
   border-left: 1px dotted #d3d3d3;
   padding-left: 5px;
}

#generate .links, #transfer .links{
   width: 100%;
}

#mainField, #generate {
   margin: 0px auto 5px auto;
   width: 100%;
}

#mainField div, #generate div{
   margin-bottom: 10px;
}

#mainField .shift-right, #generate .shift-right{
   margin-left: 250px;
}

#mainField .links{
   width: 100%;
}

#generate label{
   width: 80px;
   float: left;
   height: 20px;
   padding: 5px 5px 0px 0px;
   text-align: right;
}

#sequence label{
   width: 40px;
}

#sequence select{
   width: 150px;
}

#info select{
   width: 200px;
}

.left-align{
   float: left;
}

.links{
   text-align: center;
   margin: 4px 2px;
}

#projectId img, #requesterId img{
   margin: 2px;
}

#main #top{
   text-align: center;
   border-bottom: 1px dotted black;
   padding: 5px 0px;
}

#uhondo #left_panel{
   width: 210px;
   float: left;
}

#uhondo #left_panel img{
   margin: 0px 3px;
   cursor: pointer;
}

#uhondo #right_panel{
   border-left: 1px solid black;
   width: 690px;
   min-height: 50px;
   max-height: 600px;
   overflow: auto;
   margin: 5px 5px 5px 175px;
   padding: 5px;
}

#right_panel #sheet{
   max-height: 510px;
   overflow: auto;
   width: 680px;
}

#addinfo{
   font-weight: bold;
}

.links, #upload, .instructions{
   text-align: center;
   display: inline-block;
}

[name=upload] .links{
   width: 100%;
}

.error{
   color: red;
   text-align: center;
   font-size: 0.9em;
}

.warnings{
   color: orange;
   text-align: left;
   font-size: 0.9em;
}

#credits{
   width: 500px;
   margin: 2px auto;
   text-align: center;
   font-size: 0.9em;
}

/* Notification message*/
#notification_box{
	text-align: right;
	margin-left: 50%;
	font-size: 13px;
	font-weight: bold;
   top: 35px;
   z-index:999;
   width:435px;
   position: fixed;
}

#notification_box span{
	background-color: #CCFF99;
}
/* Notification message*/

/* Login Page*/
#login{
   margin: 2px auto;
   width: 450px;
   text-align: center;
   margin-top: 60px;
}

#login .form-group{
   margin: 7px;
   width: 320px;
}

#login input, #mainField input, #transfer input{
   height: 30px;
   width: 150px;
   margin-left: 10px;
}

#sequence input{
   width: 80px;
}

#login_page .top{
   height: 25px;
   font-weight: bold;
   font-size: 1.5em;
   text-align: center;
}

#login_page .buttons{
   padding: 3px;
}
/* Login Page*/

#whoisme{
    font-style: italic;
    margin: 1px 10px 1px 0px;
}

#whoisme .user{ float: right; margin-right: 10px; }
#whoisme .back{ padding-left: 10px; text-align: left; }

#odk_table {
   margin: 0 auto;
   border-collapse: separate;
   border-spacing: 20px 5px;
   padding-top: 30px;
}

#box_storage #meta_data_div {
   float: left;
   margin: 2px 4px 2px 80px;
   height: 350px;
   width: 350px;
}
#box_storage .flexigrid {
   margin-left: 10px;
}
#box_storage #submit_button_div{
   width: 95%;
   margin: 10px;
}

#box_storage label{margin-left: 7px;}
#box_storage input, #box_storage select{margin-left: 4px;}
#box_details .form-group, #box_details .left-align{width: 150px; margin: 5px;}
#box_details, #box_location, #location_div, #purpose_div, #return_div, hr{width: 100%; clear: both;}
#purpose_div {margin-top: 30px;}
#return_div {clear: both;}
#return_div .left-align{width: 210px; margin: 5px;}
#location_div .left-align{width: 150px; margin: 5px;}
#purpose_div .left-align{width: 150px; margin: 5px;}
#location_div select, #location_div input {width: 120px; margin: 5px 2px;}
#return_div select, #return_div input {width: 200px; margin: 5px 2px;}
#return_div input, #search_div input, #edit_div input {height: 30px;}
#search_div input {margin-top: 10px;}
#search_div .search_criteria {display: inline-block;}
#search_div .search_criteria select{width: 150px;}
#purpose_div select, #purpose_div input {width: 120px; margin: 5px 2px;}
#box_location .left-align{width: 130px; margin: 5px 2px;}
#box_location select, #box_location input{width: 120px; margin: 5px 2px;}
#box_details select{width: 180px; margin: 5px 2px;}
.left-align .radio-inline{width: 50px; float: left; margin: 0px;}

#tank_boxes, #retrieved_boxes, #returned_boxes, #deleted_boxes, #searched_boxes {margin: 5px;}

#odk_table td{ height: 30px; }
#odk_table input { height: 25px; }
#odk_heading { text-align: center; margin: 10px 0px 0px 0px; }
.center{ text-align: center; clear: both;}
.odk_parser div{ margin: 8px 0px; }
.odk_parser label{ width: 350px !important; }
.odk_parser input[type="text"], .odk_parser select, .odk_parser input[type="file"]{ height: 25px !important; margin-left: 7px !important; }
#parseType, #dwnldImages{width: 170px; height: 28px !important; }
.issue_inv div{ margin: 8px 0px; }
.issue_inv label{ width: 350px !important; }
.issue_inv input[type="text"], .odk_parser select, .odk_parser input[type="file"]{ height: 25px !important; margin-left: 7px !important; }
.issue_inv select{width: 170px; height: 28px !important; }
ul.ui-autocomplete {
    list-style-type: none!important;
    z-index: 1000!important;
    background: #f1f1f1!important;
    padding-left: 20px!important;
}
